/*====================================================================================
                                General Styles
====================================================================================*/

body {
    font-family: 'Tajawal', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.overflow {
    overflow: hidden;
}

.display {
    display: block;
}

::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #0c4d7e;
    border-radius: 5px;
    border: 1px solid #eee;
}


/*========================================================================================
                                        Main Styles
========================================================================================*/


/**************************** Start Header Section **************************/


/********** Start language Option part **********/

.header {
    height: 125px;
}

.header .page-language .lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 8px;
    position: relative;
    cursor: pointer;
}

.header .page-language .lang .lang-img {
    margin-right: 5px;
}

.header .page-language .lang .lang-name {
    font-family: "regular";
    font-size: 12px;
    padding: 3px 0;
    margin-bottom: 0;
    color: #9c9c9c;
    transition: all 0.4s ease-in-out;
}

.header .page-language .lang .lang-name::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    font-size: 8px;
    margin-left: 5px;
}

.header .page-language .lang:hover p {
    color: #0c4d7e;
}


/* Hidden language menu */

.trans-back {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 125px;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: transparent;
}

.header .page-language .lang .lang-list {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    z-index: 99991;
    box-shadow: -5px 5px 10px #ddd, 5px 0px 10px #ddd;
}

.header .page-language .lang .lang-list li {
    background-color: #fff;
    padding: 7px 15px;
    transition: all 0.4s ease-in-out;
}

.header .page-language .lang .lang-list li a {
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.header .page-language .lang .lang-list li:hover {
    background-color: #0c4d7e;
}

.header .page-language .lang .lang-list li:hover a {
    color: #fff;
}


/********** Start header content part ***********/


/* logo part */

.header .header-content .logo {
    width: 100%;
}

.header .header-content .logo img {
    max-width: 100%;
}


/* search part */

.header .header-content .make-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header-content .make-row .search-bar {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
}

.header .header-content .make-row .search-bar input {
    width: 480px;
    height: 50px;
    font-family: "regular";
    font-size: 16px;
    border-radius: 35px;
    outline: none;
    border: 1px solid #ddd;
    padding-left: 25px;
    transition: all 0.4s ease-in-out;
}

::placeholder {
    font-family: "regular";
    font-size: 14px;
}

.header .header-content .make-row .search-bar input:hover {
    border: 1px solid #0c4d7e;
}

.header .header-content .make-row .search-bar .search-btn {
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 7px;
    right: 10px;
    transition: all 0.4s ease-in-out;
}

.header .header-content .make-row .search-bar .search-btn span {
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    display: block;
    transition: all 0.4s ease-in-out;
}


/* Start User Terms */

.header .header-content .make-row .user-terms {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}

.header .header-content .make-row .user-terms .hidden-search,
.header .header-content .make-row .user-terms .menu-button {
    display: none;
}

.header .header-content .make-row .user-terms .configuration a,
.header .header-content .make-row .user-terms .likes a,
.header .header-content .make-row .user-terms .shopping-cart a {
    display: flex;
    flex-direction: row;
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.header .header-content .make-row .user-terms .hidden-search a,
.header .header-content .make-row .user-terms .menu-button a {
    color: #000;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.header .header-content .make-row .user-terms .configuration a:hover,
.header .header-content .make-row .user-terms .likes a:hover,
.header .header-content .make-row .user-terms .shopping-cart a:hover,
.header .header-content .make-row .user-terms .hidden-search a:hover,
.header .header-content .make-row .user-terms .menu-button a:hover {
    color: #0c4d7e;
}

.header .header-content .make-row .user-terms .likes,
.header .header-content .make-row .user-terms .shopping-cart,
.header .header-content .make-row .user-terms .hidden-search,
.header .header-content .make-row .user-terms .menu-button {
    margin-left: 15px;
}

.header .header-content .make-row .user-terms .configuration a .config-icon,
.header .header-content .make-row .user-terms .likes a .like-icon,
.header .header-content .make-row .user-terms .shopping-cart a .cart-icon,
.header .header-content .make-row .user-terms .hidden-search a .search-icon,
.header .header-content .make-row .user-terms .menu-button a .menu-icon {
    margin-right: 6px;
    font-size: 22px;
}

.header .header-content .make-row .user-terms .configuration a p,
.header .header-content .make-row .user-terms .likes a p,
.header .header-content .make-row .user-terms .shopping-cart a p {
    padding-top: 2px;
    font-family: "regular";
    font-size: 16px;
}

.header .hidden-menu {
    display: none;
}

.all-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: transparent;
}


/***** Config List *****/

.header .header-content .make-row .user-terms .config-list {
    position: absolute;
    top: 100%;
    right: 150px;
    display: none;
    z-index: 9999;
    box-shadow: 5px 5px 10px #ddd, -5px 0px 10px #ddd;
}

.header .header-content .make-row .user-terms .config-list li {
    background-color: #fff;
    padding: 7px 15px;
    width: 150px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.header .header-content .make-row .user-terms .config-list li a {
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.header .header-content .make-row .user-terms .config-list li:hover {
    background-color: #0c4d7e;
}

.header .header-content .make-row .user-terms .config-list li:hover a {
    color: #fff;
}


/****************************** Start Nav Section ***************************/

.nav {
    background-color: #0c4d7e;
}

.nav .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .nav-content .nav-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.nav .nav-content .nav-list li {
    margin-right: 30px;
    padding: 10px 0;
}

.nav .nav-content .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-family: "medium";
    font-size: 16px;
}

.nav .nav-content .hotline a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.nav .nav-content .hotline a i {
    margin-right: 7px;
    margin-top: 5px;
    font-size: 16px;
}

.nav .nav-content .hotline a p {
    margin-bottom: 0;
    font-family: "medium";
    font-size: 17px;
}


/************************ Start Main Slider Section *************************/

.main-slider {
    margin-top: 10px;
}

.main-slider .owl-carousel .owl-nav .owl-prev,
.main-slider .owl-carousel .owl-nav .owl-next {
    width: 55px;
    height: 55px;
    margin: 0px;
    border-radius: 50%;
    outline: 0px;
}

.main-slider .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.main-slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.main-slider .owl-carousel .owl-nav .owl-prev i,
.main-slider .owl-carousel .owl-nav .owl-next i {
    background-color: #fff;
    color: #0c4d7e;
    line-height: 55px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel .owl-nav .owl-prev i:hover,
.main-slider .owl-carousel .owl-nav .owl-next i:hover {
    background-color: #0c4d7e;
    color: #fff;
}

.main-slider .owl-carousel .owl-dots {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.main-slider .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 2px;
    outline: 0;
}

.main-slider .owl-carousel button.owl-dot span {
    width: 100%;
    height: 100%;
}

.main-slider .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #0c4d7e;
}

.main-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #0c4d7e;
}


/*************************** Start Gallary Section **************************/

.gallary .gallary-img {
    display: block;
    margin-top: 35px;
    position: relative;
    color: #000;
    text-decoration: none;
}

.gallary .gallary-img img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.gallary .gallary-img .gallary-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    color: #0c4d7e;
    font-family: "bold";
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.3;
}


/* .gallary .gallary-img .gallary-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    width: 335px;
    padding: 30px 40px;
    background-color: #0c4d7e;
    color: #fff;
    font-family: "bold";
    font-size: 29px;
    border-top-left-radius: 85%;
} */

.gallary .gallary-img:hover img {
    transform: scale(1.02);
}


/************ Start BestSellers & New Arrival Carousel Section **************/

.products {
    margin-top: 55px;
}

.products h3 {
    margin-bottom: 30px;
    font-family: "bold";
    font-size: 24px;
    text-transform: uppercase;
}

.products .show-more a {
    margin-left: 20px;
    font-family: "regular";
    font-size: 16px;
    color: #868686;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.products .show-more a:hover {
    color: #0c4d7e;
}

.item {
    display: block;
    color: #000;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.item .item-img-box {
    width: 100%;
    position: relative;
}

.item .item-img-box img {
    width: 100%;
}

.item .item-img-box .discount,
.item .item-img-box .new {
    position: absolute;
    top: 15px;
    font-family: "medium";
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.item .item-img-box .discount {
    background-color: #e13737;
    left: 10px;
    width: 90px;
}

.item .item-img-box .new {
    right: 10px;
    background-color: #77c66d;
    width: 45px;
}

.item .item-img-box .hidden-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.item .item-img-box .hidden-cart .hidden-cart-icon {
    background-color: #fff;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 15px;
    transition: all 0.4s ease-in-out;
}

.item .item-img-box .hidden-cart span:first-child {
    margin-left: 0;
}

.item .item-img-box .hidden-cart span:hover {
    background-color: #0c4d7e;
    color: #fff;
}

.item .item-content {
    text-align: left;
}

.item .item-content .item-name {
    margin: 20px 0 15px 30px;
    display: block;
    color: #000;
    text-decoration: none;
    font-family: "regular";
    font-size: 16px;
    text-align: left;
}

.item .item-content .price-box {
    display: inline-block;
    /* margin-left: 15px; */
    width: 120px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    background-color: #8c8c8c;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.item .item-content .last-price {
    color: #8c8c8c;
    text-decoration: line-through;
}

.item:hover .price-box {
    background-color: #0c4d7e;
}

.item:hover {
    border: 1px solid #0c4d7e;
}

.item:hover .hidden-cart {
    visibility: visible;
}

.products .owl-carousel .owl-nav .owl-prev,
.products .owl-carousel .owl-nav .owl-next {
    outline: 0px;
    background-color: transparent;
}

.products .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -51px;
    right: 0px;
}

.products .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -51px;
    right: 30px;
}

.products .owl-carousel .owl-nav .owl-prev i,
.products .owl-carousel .owl-nav .owl-next i {
    color: #8c8c8c;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}

.products .owl-carousel .owl-nav .owl-prev i:hover,
.products .owl-carousel .owl-nav .owl-next i:hover {
    color: #000;
}

.products .owl-carousel .owl-dots {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.products .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 2px;
    outline: 0;
}

.products .owl-carousel button.owl-dot span {
    width: 100%;
    height: 100%;
}

.products .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #0c4d7e;
}

.products .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #0c4d7e;
}


/************************** Start Gallary-2 Section *************************/

.big-gallary {
    margin-top: 80px;
    margin-bottom: 75px;
}

.big-gallary .big-gallary-item {
    color: #0c4d7e;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.big-gallary .big-gallary-item img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.big-gallary .big-gallary-content {
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: 0;
    line-height: 1.2;
    transform: translateY(-50%);
    color: #0c4d7e;
    font-family: "bold";
    font-size: 43px;
}

.big-gallary .big-gallary-item:hover img {
    transform: scale(1.02);
}


/*************************** Start Features Section *************************/

.features {
    background-color: #f5f5f5;
    margin-top: 85px;
    padding: 45px 0;
}

.features .features-box {
    display: flex;
    flex-direction: row;
}

.features .features-box .feature {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 55px 0;
    transition: all 0.4s ease-in-out;
}

.features .features-box .feature:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.features .features-box .feature:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.features .features-box .feature .feature-icon {
    margin-right: 10px;
    font-size: 39px;
    padding-top: 0px;
    color: #0c4d7e;
}

.features .features-box .feature .feature-content h3 {
    margin-top: 0;
    font-family: "medium";
    font-size: 20px;
}

.features .features-box .feature .feature-content p {
    font-family: "regular";
    font-size: 14px;
}


/************************** Start NewsLetter Section ************************/

.newsletter {
    background-color: #0c4d7e;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.newsletter .newsletter-content h3 {
    margin-top: 0;
    color: #fff;
    font-family: "extra-bold";
    font-size: 25px;
}

.newsletter .newsletter-content p {
    color: #fff;
    font-family: "regular";
    font-size: 20px;
    margin-bottom: 20px;
}

.newsletter .newsletter-content .email {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newsletter .newsletter-content .email input {
    width: 445px;
    height: 50px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-family: "bold";
    font-size: 17px;
}

::placeholder {
    font-family: "regular";
    font-size: 15px;
}

.newsletter .newsletter-content .email button {
    width: 130px;
    height: 50px;
    outline: none;
    border: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #a1a1a1;
    color: #fff;
    font-family: "bold";
    font-size: 17px;
}


/**************************** Start Footer Section **************************/

.footer {
    padding-top: 70px;
    padding-bottom: 60px;
}

.footer .footer-top {
    margin-bottom: 20px;
}

.footer .footer-top .footer-logo {
    width: 100%;
}

.footer .footer-top .footer-logo img {
    max-width: 100%;
}

.footer .footer-top .data-col h3 {
    margin-top: 10px;
    font-family: "bold";
    font-size: 16px;
    text-transform: uppercase;
}

.footer .footer-top .data-col h3 a {
    color: #000;
    text-decoration: none;
}

.footer .footer-top .data-col .info-list {
    margin-top: 20px
}

.footer .footer-top .data-col .info-list li {
    font-family: "regular";
    font-size: 15px;
    margin-bottom: 10px;
}

.footer .footer-top .data-col .info-list li a {
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.footer .footer-top .data-col .info-list li a:hover {
    color: #0c4d7e;
}

.footer .footer-top .data-col .footer-icon-list {
    display: flex;
    flex-direction: row;
}

.footer .footer-top .data-col .footer-icon-list li {
    margin-right: 6px;
}

.footer .footer-top .data-col .footer-icon-list li a {
    color: #fff;
    text-decoration: none;
}

.footer .footer-top .data-col .footer-icon-list li a i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.footer .footer-top .data-col .footer-icon-list li a .facebook-icon {
    background-color: #3a5a97;
}

.footer .footer-top .data-col .footer-icon-list li a .snap-icon {
    background-color: #f7cb00;
}

.footer .footer-top .data-col .footer-icon-list li a .insta-icon {
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    background: linear-gradient(-45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.footer .footer-top .data-col .footer-icon-list li a .twitter-icon {
    background-color: #2ac5f4;
}

.footer .footer-bottom {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer-bottom .copyrights {
    display: flex;
    flex-direction: row;
    font-family: "regular";
    font-size: 15px;
}

.footer .footer-bottom .copyrights .first-p {
    margin-right: 3px;
}

.footer .footer-bottom .copyrights a {
    margin-left: 5px;
}


/*========================================================================================
                                        page Overlay
========================================================================================*/

.loading-overlay {
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.loading-overlay img {
    position: fixed;
    margin: auto;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}